{% extends 'base.html' %}
{% load humanize %}
{% block content %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}error{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

            <ul class="nav nav-tabs" role="tablist">
                <li {% block home %}class="active{% endblock %}"><a href="{% url 'index' %}">Home</a></li>
                <li {% block developers %}{% endblock %}><a href="{% url 'developers' %}">Developers</a></li>
            </ul>

{% block data %}

             	<h2>{{ latest_post.title }}</h2>
                <h6><em>{{ latest_post.created }}</em></h6>
				<h4>{{ latest_post.body|linebreaks }}</h4>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="well">
                        <center>
                            <h3>Most Popular Downloads</h3>
                        </center>
                        <br /> 
                        {% for file in popular_files %}
                            {{ file.download_count }} downloads&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://goo.im{{ file.path }}">{{ file.filename }}</a><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <center>
                            <h3>Latest Downloads</h3>
                        </center>
                        <br />
                        {% for file in latest_files %}
                            {{ file.last_download|naturaltime }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://goo.im{{ file.path }}">{{ file.filename }}</a><br>
                        {% endfor %}
                    </div>
                </div>
            </div>

{% endblock %}
            
{% endblock %}
