{% extends 'base.html' %}
{% block content %}
            <ul class="nav nav-tabs" role="tablist">
                <li {% block home %}class="active{% endblock %}"><a href="{% url 'index' %}">Home</a></li>
                <li {% block blog %}{% endblock %}><a href="#">Blog</a></li>
                <li {% block faq %}{% endblock %}><a href="#">FAQs</a></li>
                <li {% block developers %}{% endblock %}><a href="{% url 'developers' %}">Developers</a></li>
            </ul>

{% block data %}

             	<h2><a href="#">{{ latest_post.title }}</a></h2>
				<h4>{{ latest_post.body|linebreaks }}</h4>

{% endblock %}
            
{% endblock %}
