{% extends 'base.html' %}
{% block content %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}error{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

            <ul class="nav nav-tabs" role="tablist">
                <li {% block home %}class="active{% endblock %}"><a href="{% url 'index' %}">Home</a></li>
                <li {% block developers %}{% endblock %}><a href="{% url 'developers' %}">Developers</a></li>
            </ul>

{% block data %}

             	<h2><a href="#">{{ latest_post.title }}</a></h2>
				<h4>{{ latest_post.body|linebreaks }}</h4>

{% endblock %}
            
{% endblock %}
