<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <title>{% block title %}Goo.im - Free Android File Hosting{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static 'img/gimhead.png' %}" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search by MD5 or File Name">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://twitter.com/gooinsideme">Twitter</a></li>
                    <li><a href="{% url 'sponsor_login' %}">Sponsor Login</a></li>
                    <li><a href="#">Developer Area</a></li>
                    <li><a href="#">Android App</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

            {% if not request.session.sponsor %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">            
                        {% autoescape off %}
                            {{ adblock_code }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if request.session.sponsor %}
            <div class="container">
                <div class="row">
                    <p class="text-right">
                        You are logged in as {{ request.session.sponsor }}. (<a href="{% url 'sponsor_logout' %}">Logout</a>)
                    </p>
                </div>
            </div>
            {% endif %}
            <div class="container" id="content">
                <div class="well">
                {% block content %}
                {% endblock %}
                </div>
            </div>
            {% if not request.session.sponsor %}
            {% block sponsorad %}
            <div class="container" id="sponsorad">
                <div class="well">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                        {% autoescape off %}
                        {{ sponsorad }}
                        {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {% autoescape off %}
                            {{ adblock_code }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>

