<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
        <title>{% block title %}Goo.im - Free Android File Hosting{% endblock %}</title>
    </head>

    <body>
        <img src="{% static 'img/gimhead.png' %}" style="float:left;padding-top:13px;" class="image-responsive" /></a>
        <nav class="navbar" role="navigation">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Sponsor Login</a></li>
                        <li><a href="#">Developer Area</a></li>
                        <li><a href="#">Android App</a></li>
                    </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>

