{% extends "base.html" %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}error{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <h2 style="text-align:center">Password Reset</h2>
    <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="" method ="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Reset Password" />
        </form>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Not a sponsor yet? <a href="{% url 'sponsor_signup' %}">Click here</a> to sign up and receive ad-free usage, and no wait times on downloads!</h3>
        </div>
    </div>
    
{% endblock %}

